.article{
    > label{
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        display: block;
    }
    > div{
        display: flex;
        gap: 1rem;
    }
    > p{
        color: var(--text-red);
        font-size:1.2rem;
        margin-top: 1rem;
        font-weight: 500;
    }
}