.input{
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    border:var(--border-main);
    font-size: 1.4rem;
    padding-inline: 1.5rem;
    letter-spacing: -0.3px;
    -moz-appearance: textfield;
  appearance: textfield;
}
.bgsearch{
    background:var(--bg-F1F4F6);
    border:var(--border-F1F4F6);
    padding-inline: 4rem 1.5rem;
}
.bgsearch::placeholder{
    color: var(--text-9094A8);
}
.input:focus{
    border:var(--border-sub);
}
.height50{
    height: 5rem;
}